{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "semi": "off",
    "object-curly-spacing": "off",
    "arrow-parens": "off",
    "new-cap": "off",
    "no-await-in-loop": "off",
  }
}